/* Icon */

@import url('../../assets/css/tailwind.css');

/* Google fonts */

@import url('https://fonts.bunny.net/css2?family=Poppins:wght@400;500;600;700&display=swap');


body {
	color: #000;
	font-family: 'Poppins', sans-serif !important;
}


section {
	padding-top: 4.5rem;
	padding-bottom: 4.5rem;
}

.py-12 {
	padding: 50px 0;
}

.px-50 {
	padding-left: 50px;
	padding-right: 50px;
}

.text-gray-900 {
	background: #282C30 !important;
}

.bg-gray {
	background: #f8f9fb;;
}

.text-gray {
	color: #4A4A4A;
}


.font-400 {
	font-weight: 400;
}

.text-primary {
	color: #13287B;
}

.bg-warning {
	background: #FFC700;
}

.bg-primary-light {
	background: #486DFF;
}

.navbar-custom {
	background: #fff;
	box-shadow: none !important;
}

.navbar-custom.is-sticky {
	background: #fff;
	box-shadow: 0 2px 5px #00000012 !important;
}

.navbar-custom .logo {
	width: 160px;
}

.navbar-custom ul li {
	margin: 0 !important;
}

.navbar-custom ul li a {
	color: #000 !important;
	font-weight: 500;
	font-size: 14px;
}

.btn {
	font-weight: 600;
	border-radius: 4px !important;
}

.banner {
	height: 730px;
	background-image: linear-gradient(95.78deg, #0B1025 -53.33%, rgba(11, 16, 37, 0) 102.24%), url(https://images.weserv.nl/?url=https://test.jo-clean-berlin.de/assets/images/banner.jpg&output=webp&w=1920);
	background-position: top;
	background-size: cover;
}

.banner h2 {
	background: linear-gradient(93.5deg, #13287B -4.04%, rgba(75, 112, 255, 0) 104.41%, #13287B 104.41%);
	backdrop-filter: blur(10px);
	padding: 20px 30px;
	position: absolute;
	right: 0;
	bottom: 60px;
	color: #fff;
	font-weight: 600;
	font-size: 30px;
	line-height: 45px;
}

.contact-section {
	padding: 80px 0;
}

.contact-section .form-control {
	border: 0;
	background: #EFF1F7 !important;
	border-radius: 5px;
	margin-bottom: 20px;
	color: #4A4A4A !important;
}


.d-md-none {
	display: none;
}

.our-services {
	background: #f8f9fb;
}

.our-services .transition-all {
	background: #282C30;
	border-radius: 10px;
	padding: 40px 40px;
	position: relative;
}


.owl-carousel .owl-item img {
	display: block;
	width: auto;
}


.our-services img {
	height: 42px;
	padding-top: 0px;
}

.bg-primary {
	background: #13287B;
}

.bg-footer {
	background: #13287B;
}

.flip-card {
	background-color: transparent;
	width: 100%;
	height: 300px;
	perspective: 1000px;

}

.flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.6s;
	transform-style: preserve-3d;
	box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
}

.flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.flip-card-front {
	background-color: #fff;
	color: black;
	padding: 70px 30px;
}

.flip-card-back {
	background-color: #fff;
	color: #969696;
	text-align: left;
	padding: 30px 50px;
	font-size: 14px;
	transform: rotateY(180deg);
}

.flip-card-back ul {
	list-style: disc;
}

.gap-10 {
	gap: 2.4rem !important;
}


#map iframe {
	width: 100% !important;
}

.banner.inner-pages {
	height: 300px;
	padding: 150px 0;
	background-position: bottom !important;	
}

.about-section h1 {
	font-weight: 700;
	font-size: 45px;
	line-height: 54px;
	color: #2D3748;
	margin-top: 40px;
}


.about-section h2 {
	font-weight: 600;
	font-size: 32px;
	line-height: 44px;
	color: #2D3748;
	margin-bottom: 30px;
}

.about-section h4 {
	font-weight: 600;
	font-size: 20px;
	font-style: italic;
	color: #2D3748;
	margin-bottom: 20px;
}

.about-section p {
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #718096;
	margin-bottom: 20px;
}

.px-150 {
	padding-left: 150px;
	padding-right: 150px;
}

.mySlides {display: none}
.about-section img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
	max-width: 1000px;
	position: relative;
	margin: auto;
}

/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px 40px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}


/* The dots/bullets/indicators */
.about-section .dot {
	cursor: pointer;
	width: 9px;
	height: 9px;
	margin: 0 5px;
	background-color: #D1D1D1;
	border-radius: 0;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.about-section .active, .about-section .dot:hover {
	background-color: #13287B;
}

/* Fading animation */
.about-section .fade {
	animation-name: fade;
	animation-duration: 1.5s;
}

.collapsible {
	float: right;
	margin-right: 15px;
	position: relative;
	top: -50px;
}

.job-section .content {
	padding: 20px;
	display: none;
	overflow: hidden;
	width: 100%;
	background-color: #fafafa;
	border: 1px solid #e9e3e3;

}

.job-section .content a {
	color: blue;
}

.job-section .card {
	padding: 15px;
	border: 1px solid #e9e3e3;
}

.job-section ul {
	    list-style: disc;
	    margin-left: 20px;
	    font-size: 14px;
}

.job-section .content p {
	margin: 15px 0 !important;
}


@keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
	.prev, .next,.text {font-size: 11px}
}

footer hr {
	border-top: 1px solid #fff;
	opacity: 0.1;
}

footer ul {
	display: flex;
	justify-content: center;
	padding: 50px 0 80px;
	flex-wrap: wrap;
}

footer ul li {
	padding: 6px 50px;
}

footer ul li a {
	color: #FFD2DD;
	font-weight: 400;
	font-size: 16px;
}

.footer-bottom {
	background: rgba(255, 255, 255, 0.1);
	padding: 18px 0;
}

/* Media Query */

@media only screen and (max-width: 991px) {}


@media only screen and (max-width: 768px) {

	#map iframe {
		height: 250px !important;
	}

	.px-150 {
		padding-left: 0px;
		padding-right: 0px;
	}

}


@media(max-width: 576px) {
	footer ul {
		padding: 30px 0;
	}

	.banner {
		height: 480px;
	}

	.banner h2 {
		font-weight: 600;
		font-size: 22px;
		line-height: 38px;
		bottom: 30px;
	}

	.our-services {
		text-align: center;
	}

	footer ul li a {
		font-size: 13px;
	}

	h1.text-3xl {
		font-size: 25px !important;
	}

	h3.text-3xl {
		font-size: 18px !important;
		line-height: 24px !important;
	}

	.contact-section {
		padding: 60px 0;
	}

	.banner.inner-pages {
		height: auto;
		padding: 150px 0 80px;
	}

	.inner-pages h1 {
		font-size: 26px !important;
		font-weight: 700;
	}


	.contact-section .gap-6 {
		gap: 0 !important;
	}

}